body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.banner {
    background-image: url(../images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
    margin-bottom: 80px;
}

.banner-top {
    background-color: rgba(0, 0, 0, 0.733);
    height: 900px;
}

.banner-content {
    width: 70%;
    height: 900px;
    margin-left: 270px;
}

.banner-heading {
    width: 70%;
    height: 300px;
    padding-top: 10%;
    margin-left: 200px;
    text-align: center;
}

.banner h1 {
    font-size: 60px;
    color: #fff;

}

.banner-pera {
    width: 50%;
    height: 100px;
    margin-left: 340px;
}

.banner p {
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.banner-btn {
    width: 30%;
    height: 100px;
    margin-left: 480px;
    padding: 30px;
}

.banner-button {
    text-decoration: none;
    background-color: tomato;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-left: 100px;
    border-radius: 5px;
    border: 1px solid tomato;
}

.donate-today-heading {
    margin-bottom: 60px;
}

.donate-today h1 {
    font-size: 50px;
    text-align: center;
}

.donate-today p {
    font-size: 18px;
    text-align: center;
}

.amount {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.half-amount {
    width: 10%;
    height: 130px;
    background-color: #FAFAFA;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-left: 150px;
}

.amount h2 {
    font-weight: 900;
    margin-top: 48px;
    color: grey;
}

.exceptional {
    background-color: #FFEEEE;
    border: 2px solid red;
}

#exception-color {
    color: red;
}

.other-amount {
    height: 80px;
    width: 50%;
    margin-left: 500px;
    margin-bottom: 30px;
}

.other-amount input {
    width: 92%;
    padding: 12px;
    text-align: center;
    font-size: 18px;
    border: none;
    border-bottom: 3px solid grey;
}

.amount-btn {
    margin-left: 780px;
    margin-bottom: 80px;
}

.donate-plan h1 {
    font-size: 50px;
    text-align: center;
}

.donate-plan p {
    font-size: 18px;
    text-align: center;
}

.donate-plan-heading {
    margin-bottom: 80px;
}

.flexible {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 80px;
}

.donation-type {
    width: 23%;
    height: 400px;
    background-color: orange;
    margin-left: 150px;

}

.type-image img {
    width: 15%;
    padding-top: 15%;
    padding-left: 5%;
}

.type-image h3 {
    padding-left: 5%;
    font-size: 23px;
}

.type-pera p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    color: grey;
}

.first {
    background-color: #EDF5F6;
}

.second {
    background-color: #FFEEEE;
}

.third {
    background-color: #FFF4D6;
}